{% extends '../layouts/layout.twig' %}

{% set blogs = [
  {
    id: 1,
    title: 'Title 1',
    description: 'Description 1',
    img: 'https://i.pinimg.com/originals/f6/80/6b/f6806bfc76499939bbce9efa6360bcce.jpg',
    link: 'https://www.example-1.com',
    author: 'author 1',
    type: 'Lecture'
  },
  {
    id: 2,
    title: 'Title 2',
    description: 'Description 2',
    img: 'https://www.wallpaperup.com/uploads/wallpapers/2015/05/09/682920/39b1eb6c89a2b1fdd813230cfe87a28d.jpg',
    link: 'https://www.example-2.com',
    author: 'author 2',
    type: 'Case Study'
  },
  {
    id: 3,
    title: 'Title 3',
    description: 'Description 3',
    img: 'https://www.wallpapertip.com/wmimgs/0-4299_best-nature-wallpapers-in-full-hd-for-desktop.jpg',
    link: 'https://www.example-3.com',
    author: 'author 3',
    type: 'Psychology'
  },
  {
    id: 4,
    title: 'Title 4',
    description: 'Description 4',
    img: 'https://i.pinimg.com/originals/96/5f/83/965f83a29f6051fe4e97c6b209d06f96.jpg',
    link: 'https://www.example-4.com',
    author: 'author 4',
    type: 'Lecture'
  },
  {
    id: 5,
    title: 'Title 5',
    description: 'Description 5',
    img: 'https://wallpaperboat.com/wp-content/uploads/2019/05/top-best-021.jpg',
    link: 'https://www.example-5.com',
    author: 'author 5',
    type: 'Psychology'
  }
] %}

{% block content %}
  <div class="page-title">Blogs</div>
  {% include "../blocks/blogs.twig" %}
{% endblock %}
