.card {
  border: 1px solid #818181;
  border-radius: 10px;
}

.type {
  padding: 5px 15px;
  color: #818181;
  background-color: #f2f2f2;
  border-bottom: 1px solid #818181;
  font-size: 14px;
  border-radius: 10px 10px 0 0;
}
